#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.mainContainer {
  display: flex;
}
.Buttons {
  display: flex;
  margin: 10px;
}

.Buttons button {
  border: none;
  background-color: #f2f2f2;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
}

.Buttons button.active {
  background-color: #007bff;
  color: #fff;
}
